<nav aria-label="Navigation principale">
  <ul class="navbar-nav gap-1">
    <li class="nav-item">
      <a
        class="nav-link px-3 rounded"
        routerLink="/entreprises"
        routerLinkActive="active bg-white bg-opacity-10"
        ariaCurrentWhenActive="page"
        >Entreprises</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link px-3 rounded"
        routerLink="/contacts"
        routerLinkActive="active bg-white bg-opacity-10"
        ariaCurrentWhenActive="page"
        >Contacts</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link px-3 rounded"
        routerLink="/opportunites"
        routerLinkActive="active bg-white bg-opacity-10"
        ariaCurrentWhenActive="page"
        >Opportunités</a
      >
    </li>
  </ul>
</nav>
